<div class="profile-page">
  <div class="user-info">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-10 offset-md-1">
          <img src="{{ profile.image }}" class="user-img" />
          <h4 class="author">{{ profile.username }}</h4>
          <p>
            {{ profile.bio }}
          </p>
          <button class="btn btn-sm btn-outline-secondary action-btn"(click)="followUser()">
            <i class="ion-plus-round"></i>
            &nbsp; Follow {{ profile.username }}
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-10 offset-md-1">
        <div class="articles-toggle">
          <ul class="nav nav-pills outline-active">
            <li class="nav-item">
              <span
                class="nav-link"
                href=""
                (click)="clickGlobal()"
                [ngClass]="{ active: !favBool }"
                >My Articles</span
              >
            </li>
            <li class="nav-item">
              <span
                class="nav-link"
                href=""
                (click)="clickFavorite()"
                [ngClass]="{ active: favBool }"
                >Favorited Articles</span
              >
            </li>
          </ul>
        </div>
        <div class="article-preview" *ngIf="userName && userName.length > 0">
          <div class="" *ngFor="let user of userName">
            <div class="article-meta">
              <span href=""><img src="{{ user.author.image }}" /></span>
              <div class="info">
                <span href="" class="author">{{ user.author.username }}</span>
                <span class="date">{{ formattedDate(user.updatedAt) }}</span>
              </div>
              <button class="btn btn-outline-primary btn-sm pull-xs-right">
                <i class="ion-heart"></i> {{ user.favoritesCount }}
              </button>
            </div>
            <a [href]="'articles/'+user.slug" class="preview-link">
              <h1>{{ user.title }}</h1>
              <p>{{ user.description }}</p>
              <span>Read more...</span>
            </a>
            <hr>
          </div>

        </div>
          <div class="article-preview"  *ngIf="!(userName && userName.length > 0)">
            <p>No articles are here...yet</p>
          </div>
        </div>
      </div>
    </div>
  </div>

