/* .nav-banner_bg{
  background-color: #5CB85C !important;
} */
.banner{
  color: #fff;
    background: #5CB85C;
    padding: 2rem;
    margin-bottom: 2rem;
}
.logo-font {
  font-family: "Titillium Web", sans-serif;
}
.banner p {
  color: #fff;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 300 !important;
  margin-bottom: 0px;
}
.banner h1 {
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  font-weight: 700 !important;
  text-align: center;
  font-size: 3.5rem;
  padding-bottom: 0.5rem;
}
